<li class="flex">
  <button
    type="button"
    onclick="start_set_%[0]d.showModal()"
    class="btn btn-block btn-primary btn-outline"
    hx-get="/sets?exercise_id=%[0]d"
    hx-trigger="click once"
    hx-target="#exercises-%[0]d"
    hx-indicator="#loading-sets"
  >
    %[1]s
  </button>
  <!-- Open the modal using ID.showModal() method -->
  <dialog id="start_set_%[0]d" class="modal">
    <div class="modal-box flex flex-col h-[80.8dvh] bg-base-200">
      <h3 class="text-lg font-bold">%[1]s</h3>
      <div class="overflow-x-auto py-4">
        <table class="table">
          <thead>
            <tr>
              <th>Weigth</th>
              <th>Reps</th>
            </tr>
          </thead>
          <tbody id="exercises-%[0]d"></tbody>
        </table>
        <div id="loading-sets" class="my-indicator flex flex-grow">
          <span
            class="loading loading-infinity mx-auto w-20 justify-center flex-grow h-[20dvh] md:max-w-[40dvh]"
          ></span>
        </div>
      </div>

      <form
        hx-post="/set"
        hx-target="#exercises-%[0]d"
        hx-swap="beforeend"
        class="join grid grid-cols-3 mt-auto"
      >
        <span>weight</span>
        <span>reps</span>
        <span></span>

        <!-- change these to actual dile scroll thign -->
        <input
          type="text"
          name="weight"
          value="%[2]d"
          class="rounded-l-lg rounded-r-none input input-success"
        />
        <input type="hidden" name="workout_id" value="1" />
        <input type="hidden" name="exercise_id" value="%[0]d" />
        <input
          type="text"
          name="reps"
          value="%[3]d"
          class="join-item rounded-r-none input input-success"
        />
        <!-- <select name="reps" class="join-item select select-success pl-4"> -->
        <!--   <option>10</option> -->
        <!--   <option>11</option> -->
        <!--   <option>12</option> -->
        <!-- </select> -->
        <button
          type="submit"
          class="join-item btn btn-success btn-outline"
          onclick="stopTimer(); clearTimer(); startTimer()"
        >
          Finish Set
        </button>
      </form>

      <div class="modal-action pt-2">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
</li>
