<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>%[0]s - Gym</title>
    <link href="/output.css" rel="stylesheet" />
    <script
      src="/htmx@2.0.0.js"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <script defer src="/alpine.js"></script>
  </head>
  <script type="text/javascript">
    const WEEKDAY = [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
    ];
  </script>
  <body x-data="{{ day: new Date().getDay() }}">
    <header hx-boost="true" class="navbar bg-base-300 sticky top-0 z-10">
      <div class="navbar-start">
        <!-- since last set -->
        <div id="timer" class="text-xl">00:00</div>
        <script src="/stopwatch.js"></script>
      </div>
      <div class="navbar-center">
        <a href="/" class="text-primary font-bold text-xl">Gym</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://lh3.googleusercontent.com/a/AAcHTtcIA7reOrDrtSslK5DfbBWfqLtWbqxx4O1TVMQA1yO7Pg=s96-c"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-3 w-52 p-2 gap-4 shadow"
          >
            <li class="btn btn-sm" disabled>
              <a>
                Profile
                <!-- <span class="badge">New</span> -->
              </a>
            </li>
            <li class="btn btn-sm" disabled><a>Settings</a></li>
            <li class="mt-8 btn btn-sm btn-error">
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="min-h-[90dvh] px-8 pt-4 pb-20">
      <!-- <input type="hidden" name="routine_id" value="%[1]d" /> -->
      <!-- TODO create workouts manage id -->
      <input type="hidden" name="workout_id" value="1" />
      <div hx-boost="true" class="breadcrumbs text-sm">
        <ul>
          <li><a href="/">Home</a></li>
          <li>%[0]s</li>
        </ul>
      </div>
      <ul
        hx-get="/exercises?routine_id=%[1]d"
        hx-indicator="#loading-exercises"
        hx-trigger="load"
        class="grid gap-4"
      ></ul>
      <div id="loading-exercises" class="my-indicator flex flex-grow">
        <span
          class="loading loading-infinity mx-auto w-20 justify-center flex-grow h-[50dvh] md:max-w-[40dvh]"
        ></span>
      </div>
    </main>

    <nav hx-boost="true" class="btm-nav bg-base-300">
      <a href="/" class="active text-primary bg-base-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>
        <span class="btm-nav-label">Home</span>
      </a>
      <a href="/edit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span class="btm-nav-label">Edit</span>
      </a>
      <a disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          />
        </svg>
        <span class="btm-nav-label">Statistics</span>
      </a>
    </nav>
  </body>
</html>
